.patGrid {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  min-height: 100dvh;
  max-height:100dvh ;
}

.men{
    width: 100%;
    background-color: darkgrey;
}

.scroll-panel {
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.scroll-panel > div {
  flex: 1;
}

/* Estilo para los mensajes enviados */
.message-sent {
  background-color: #d1e7dd;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  align-self: flex-end; /* Alinea el mensaje a la derecha */
  max-width: 70%; /* Opcional: establece un ancho máximo */
}


.message-received {
  background-color: #f8d7da; 
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  align-self: flex-start; 
  max-width: 70%; 
}


.scroll-panel div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.mensaje{
    padding: 0;
    margin: 3px;
}

.fott{
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px 10px;
}
.fott input {
    flex: 1; 
  }
  
  .fott p-button {
    flex-shrink: 0;
  }