<div class="patGrid">
  <div class="navchat">
    <h3>chat</h3>
    <p-button icon="fa-solid fa-arrow-left"
    (onClick)="atras()" >  </p-button>
  </div>
  <p-scrollPanel class="scroll-panel" #scrollPanel >
    <div *ngFor="let message of messages">
      <div
        [ngClass]="{
          'message-sent': message.senderId === currentUser?.uid,
          'message-received': message.senderId !== currentUser?.uid
        }"
      >
        <p class="mensaje">{{ message.text }}</p>
        <small>{{ message.timestamp.toDate() | date : "short" }}</small>
      </div>
    </div>
  </p-scrollPanel>
  <div class="fott">
    <input
      type="text"
      pInputText
      [(ngModel)]="newMessageText"
      placeholder="Escribe un mensaje..."
    />
    <p-button
      icon="fa-regular fa-paper-plane"
      (onClick)="sendMessage()"
    ></p-button>
  </div>
</div>
