<app-navbar></app-navbar>
<div style="height: 100px; width: 100%; overflow: hidden; position:sticky">
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="head-ban">
    <h2>Siempre conectados</h2>
  </div>
</div>

<div class="grid-cont">
  <div style="padding: 10px;">
    <h3><i class="fa-regular fa-message"></i> Temas</h3>
    <div class="wrap-cat">
      <ng-container *ngFor="let cat of categories">
        <div class="cat-c">
          <small>{{ cat.name }}</small>
        </div>
      </ng-container>
    </div>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <h3>Publicidad</h3>
  </div>
</div>
<app-footer></app-footer>