<app-navbar></app-navbar>
<div style="height: 100px; width: 100%; overflow: hidden; position:sticky">
  <ul class="background">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
  <div class="head-ban">
    <h2>Siempre conectados</h2>
  </div>
</div>

<div class="grid-cont">
  <div>
    <h3>categorias</h3>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
  <div>
    <h3>PUBLICIDAD </h3>
  </div>
</div>
<app-footer></app-footer>