<div class="cont">
  <div class="header-wrap">
    <div class="contend-wrap">
      <div class="contend">
        <h1>Wisar</h1>
        <h3>Innovación que conecta, éxito que trasciende</h3>
      </div>
      <div class="svg-wrap">
        <img src="../../../../assets/shop1.svg" />
      </div>
    </div>
    <div class="shape-wrap">
      <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M74,64.5Q67,79,47,84.5Q27,90,19.5,70Q12,50,19,29.5Q26,9,46.5,14.5Q67,20,74,35Q81,50,74,64.5Z"
          stroke="none"
          fill="#ec802c"
        ></path>
        <path
          d="M74,64.5Q67,79,47,84.5Q27,90,19.5,70Q12,50,19,29.5Q26,9,46.5,14.5Q67,20,74,35Q81,50,74,64.5Z"
          transform="translate(7.81 -2.47)"
          stroke="#F97316"
          stroke-width="1"
          fill="none"
        ></path>
      </svg>
    </div>
  </div>
</div>
