<div class="wrap-cont">
  <br/>
  <br/>
  <div class="shop-container" *ngIf="shop">
    <div
      class="shop-banner"
      [ngStyle]="{ 'background-image': 'url(' + shop.bannerUrl + ')' }"
    >
      <div class="shop-logo">
        <img [src]="shop.logoUrl" alt="{{ shop.name }} Logo" />
      </div>
      <div class="shop-name">
        <h1>{{ shop.name }}</h1>
        <p class="shop-description">{{ shop.description }}</p>
      </div>
    </div>

    <div class="shop-info">
      <h2>Información de la tienda</h2>
      <ul>
        <li>
          <strong>Dirección:</strong> {{ shop.address || "No disponible" }}
        </li>
        <li>
          <strong>Municipio:</strong> {{ shop.municipio || "No disponible" }}
        </li>
        <li>
          <strong>Departamento:</strong>
          {{ shop.department || "No disponible" }}
        </li>
        <li>
          <strong>Teléfono:</strong> {{ shop.phoneNumber || "No disponible" }}
        </li>
        <li><strong>Email:</strong> {{ shop.email || "No disponible" }}</li>
      </ul>
    </div>

    <div
      class="shop-links"
      *ngIf="shop.facebookLInk || shop.instagramLink || shop.whatsappNumber"
    >
      <h3>Redes Sociales</h3>
      <ul class="social-links">
        <li *ngIf="shop.facebookLInk">
          <a [href]="shop.facebookLInk" target="_blank" class="facebook">
            <i class="fa fa-facebook"></i> Facebook
          </a>
        </li>
        <li *ngIf="shop.instagramLink">
          <a [href]="shop.instagramLink" target="_blank" class="instagram">
            <i class="fa fa-instagram"></i> Instagram
          </a>
        </li>
        <li *ngIf="shop.whatsappNumber">
          <a
            [href]="'https://wa.me/' + shop.whatsappNumber"
            target="_blank"
            class="whatsapp"
          >
            <i class="fa fa-whatsapp"></i> WhatsApp
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="no-shop" *ngIf="!shop">
    <h1>Upss! Parece que aún no has registrado tu tienda.</h1>
    <div class="cont-pic">
      <img src="assets/shop2.svg" />
    </div>
    <div>
      <button
        pButton
        label="Registrar Tienda"
        icon="fa-solid fa-store"
        class="btn-registrar-tienda"
        routerLink="/ecomerce/profile/create-shop"
      ></button>
    </div>
  </div>
</div>
