<div class="wrap-cont">
  <div *ngIf="shop" class="store">
    <div class="header">
      <div class="banner">
        <img [src]="shop.bannerUrl" />
      </div>
      <div class="profile">
        <img [src]="shop.logoUrl" />
      </div>
      <div class="info">
        <h1><i class="fa-solid fa-shop"></i> {{ shop.name }} <i class="fa-solid fa-certificate"></i></h1>
        <p><i class="fa-solid fa-pencil"></i> {{ shop.description }}</p>
        <p><i class="fa-solid fa-location-dot"></i> {{ shop.address }}</p>
        <p><i class="fa-solid fa-phone"></i> {{ shop.phoneNumber }}</p>
      </div>

      <div class="social">
        <div>
          <i class="fa-brands fa-facebook"></i>
        </div>
        <div>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div>
          <i class="fa-brands fa-whatsapp"></i>
        </div>
      </div>
      <h2>Productos de la tienda.</h2>
      <div class="g-1">
        <ng-container *ngFor="let prod of productsWinter" >
          <app-product-cart [product]="prod" ></app-product-cart>
        </ng-container>
      </div>
    </div>
  </div>

  <div class="no-shop" *ngIf="!shop">
    <h1>Upss! Parece que aún no has registrado tu tienda.</h1>
    <div class="cont-pic">
      <img src="assets/shop2.svg" />
    </div>
    <div>
      <button
        pButton
        label="Registrar Tienda"
        icon="fa-solid fa-store"
        class="btn-registrar-tienda"
        routerLink="/ecomerce/profile/create-shop"
      ></button>
    </div>
  </div>
</div>
