<div *ngIf="Post">
  <br />
  <div class="top-title">
    <h2>{{ Post.title }}</h2>
  </div>
  <p>{{ Post.content }}</p>

  <div style="display: flex; gap: 30px; align-items: baseline; " >
    <div>
      <!-- Si el autor tiene imagen, se muestra la imagen, si no, se usa el componente Avatar con las iniciales -->
      <ng-container *ngIf="Post.author?.profilePhotoUrl; else avatar">
        <img
          [src]="Post.author?.profilePhotoUrl"
          class="profile-img"
          alt="Profile Picture"
        />
      </ng-container>
      <ng-template #avatar>
        <p-avatar
          label="{{
            getInitials(
              Post.author?.firstName || '',
              Post.author?.lastName || ''
            )
          }}"
          [style]="{
            'background-color': 'var(--azul)',
            color: 'var(--naranja)'
          }"
        ></p-avatar>
      </ng-template>
      <small>{{ Post.author?.firstName }} {{ Post.author?.lastName }}</small>
    </div>
    <small><i class="fa-regular fa-clock"></i> {{ Post.createdAt | date }} </small>
  </div>
  <app-comments [post]="Post"></app-comments>
</div>
