<app-navbar></app-navbar>
<!-- <app-header></app-header> -->

<img
  [src]="imageUrl"
  alt="Banner"
  class="img-ban2"
/>

<app-carrusel-info></app-carrusel-info>

<div class="contai-1">
  <div class="advanced-search">
    <h3><i class="fa-solid fa-tags"></i> Categorías.</h3>
    <div class="wrap-cat">
      <ng-container *ngFor="let cat of categories">
        <div class="cat-c">
          <p>{{ cat.name }}</p>
        </div>
      </ng-container>
    </div>
  </div>
  <app-productlist></app-productlist>
</div>
<app-footer></app-footer>
