<nav>
  <div class="cont">
    <img src="assets/ilus-logo.png" />
    <div>
      <p-inputGroup>
        <input type="text" pInputText placeholder="Buscar" />
        <button
          type="button"
          pButton
          icon="fa-solid fa-magnifying-glass"
        ></button>
      </p-inputGroup>
    </div>
    <ul [ngClass]="{ 'show-menu': menuOpen, 'hide-menu': !menuOpen }">
      <ng-container *ngFor="let nv of navs">
        <li (click)="redirect(nv.route)">
          <i class="fa-solid" [ngClass]="nv.icon"></i>
          <span>{{ nv.label }}</span>
        </li>
      </ng-container>
      <ng-container *ngIf="CurrentUser; else log  " > 
        <li (click)="logout()" >
          <span >Cerrar Sesión</span>
        </li>
      </ng-container>
      <ng-template #log>
        <li (click)="redirect('/auth/login')" >
          <span>Iniciar Sesión</span>
        </li>
      </ng-template>
    </ul>
    <div class="icons-cont">
      <i
        class="fa-solid fa-cart-shopping icons"
        pBadge
        [value]="badgeValue"
        severity="warning"
        (click)="op.toggle($event)"
        [class.animate]="animateCart"
      ></i>
      <i
        class="fa-solid icons"
        [ngClass]="menuOpen ? 'fa-times' : 'fa-bars'"
        (click)="toggleMenu()"
      ></i>
    </div>
  </div>
</nav>
<p-overlayPanel #op>
  <div *ngIf="!cart.length">
    <h3 class="textCent">Tu carrito Esta vacío</h3>
    <img class="ilus-car" src="assets/carShopAnimated.svg" />
    <p class="textCent">Cuando agregues productos los mostraremos aquí,</p>
  </div>
  <div *ngIf="cart.length" >
    <ng-container>
      <div class="cart-item" *ngFor="let groupedItem of groupedCart">
        <div class="img-cont">
          <img [src]="groupedItem.item.imageUrl" alt="{{ groupedItem.item.name }}" />
        </div>
        <div class="info-cont">
          <p class="namep">{{ groupedItem.item.name }}</p>
          <p>C$ {{ groupedItem.item.price }}</p>
          <p>Cantidad: {{ groupedItem.quantity }}</p>
        </div>
        <div class="action-cont">
          <p-button icon="fa-solid fa-trash" (onClick)="removeItem(groupedItem.item.id)" [rounded]="true" [text]="true" />
        </div>
      </div>
      
      <div class="total">
        <p>Total: C$ {{ total }}</p>

      </div>
      
    </ng-container>
  </div>
</p-overlayPanel>
